::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff8;
    font-size: 1em;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff8;
  }

  .rows .row {
    display: inline-block;
  }

  .blueBox {
    width: 16em;
  }

  .appHeader {
    flex-direction: row-reverse;
  }

@media (max-width:60em){
  .appHeader {
    flex-direction: column-reverse;
  }
  .blueBox {
    width: 100%;
    padding-bottom: 4em;
  }
}

.titlePDF {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  margin-left: 24px;
  max-width: 15%;
  max-height: 1em; 
}
